<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Naive Bayes On iris Data </title>
     <style>
          body{
               background-color: skyblue;
               color:white ;
               overflow: scroll;
          }
          fieldset{
               border-radius: 20px;
               align-items: center;
               justify-content: center;
               text-align: center;
               width: auto;
               background-color: #002366;
               box-shadow: 0 0 20px  #002366;
               border: 5px solid white;
          }
     </style>
</head>
<body>
     <marquee behavior="" direction="circular" style="color:#002366;font-size: large;">Vikalp from Zhcet amu</marquee>
     <h1 style="color: black; align-items: center;text-align: center;">Naive Bayes model On Iris Data</h1>

     <fieldset>
          <form action="/data"    method="post"    style="margin-top: 5px;">
               <div class="sepal_length">
                    <label for="sepal_length" name="sepal_length" id="sepal_length" style="font-size: x-large;">Enter the Sepal length:</label>
                    <input type="tel" name="sepal_length"    placeholder="Ex-2.5"   id="sepal_length" style="border-radius: 20px; width: 500px; height: 50px; border: 2px solid #002366 ;"> 
                </div>
                <br>
                <br>
                <div class="sepal_width">
                    <label for="sepal_width" name="sepal_width" id="sepal_width" style="font-size: x-large;">Enter the Sepal width:</label>
                    <input type="tel" name="sepal_width" id="sepal_width"   placeholder="Ex-2.5" style="border-radius: 20px; width: 500px; height: 50px;border: 2px solid #002366 ;"> 
                </div>
                <br>
                <br>
                <div class="petal_length">
                    <label for="petal_length" name="petal_length" id="petal_length" style="font-size: x-large;">Enter the Petal length:</label>
                    <input type="tel" name="petal_length" id="petal_length"    placeholder="Ex-2.5" style="border-radius: 20px; width: 500px; height: 50px;border: 2px solid #002366 ;"> 
                </div>
                <br>
                <br>
                <div class="petal_width">
                    <label for="petal_width" name="petal_width" id="petal_width" style="font-size: x-large;">Enter the Petal width:</label>
                    <input type="tel" name="petal_width" id="petal_width"   placeholder="Ex-2.5"  style="border-radius: 20px; width: 500px; height: 50px;border: 2px solid #002366 ;"> 
                </div>
                <br>
                <br>
                <input type="submit" style="border-radius: 20px; background-color: #281E5D; margin-left: 300px;height: 50px;color: white;cursor: pointer;" >
                
          </form>
          <fieldset class="field2" style="margin-top: 10px;border: 5px solid white;">
               <div><h1>Species:</h1></div>
               <div><h2 style="color: red;">{{result}}</h2></div>
          </fieldset>
         
     </fieldset>
</body>
</html>